<nav class="navbar fixed-top">
  <%= link_to home_path, class: "navbar-brand" do %>
    <div class="title">
      <h3>Melissa Goodway Art</h3>
      <hr>
      <h5> Animator <span>|</span> Illustrator  <span>|</span> Artist</h5>
    </div>
  <% end %>

    <ul class="nav-menu mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#reel" data-controller="scroll-to" >Reel</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#animation" data-controller="scroll-to">Animation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#illustration" data-controller="scroll-to">Illustration</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#logo" data-controller="scroll-to">Logo</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#about" data-controller="scroll-to">About</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#store" data-controller="scroll-to">Store</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#contact" data-controller="scroll-to">Contact</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link'  %>
        </li>
      <% end %>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
  </div>
</nav>
