<div class="bg-container">
  <div class="container" id="about">
    <div class="about-wrapper">
      <%= cl_image_tag 'avatar', class: 'avatar img-fluid' %>
        <div class="bio">
          <h4>About Me</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad omnis exercitationem mollitia atque aut dignissimos quia ipsa accusantium illo unde autem, cumque vero tempora quam nostrum ratione, rem delectus quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae aut quos nemo eius vero porro eum. Illo minima qui rerum deserunt et ducimus tenetur. Ad est nemo inventore dolore aperiam?</p>
        </div>
    </div>
  </div>
</div>
