<div class="row">
  <% @arts.each do |art| %>
      <div class="col-6 col-md-4 col-lg-4">
        <div class="card p-0">
          <% if art.photo.attached?%>
            <%= cl_image_tag 'avatar', {remote: true, 'data-bs-toggle' => 'modal', 'data-bs-target' => '#artModal'} %>
          <%end %>
        </div>
      </div>
    <%= render 'shared/art_modal', art: art %>
  <% end %>
</div>




