<div class="container d-flex justify-content-center text-center" id="reel">

  <div class="col-12 col-md-8 col-lg-6">
    <div class="reel">
      <iframe
        src="https://player.cloudinary.com/embed/?public_id=v1664769247%2Fdevelopment%2Ftest_he0csw.mp4&cloud_name=dsn2mbfvg&player%5Bfluid%5D=true&player%5Bcontrols%5D=true&player%5Bcolors%5D%5Baccent%5D=%23bc9484&source%5BsourceTypes%5D%5B0%5D=mp4"
        width="640"
        height="480"
        allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
        allowfullscreen
        frameborder="0">
      </iframe>
    </div>
    <h2>Reel</h2>
  </div>

</div>

