#contact{
  scroll-behavior: smooth;
  margin-top: 2rem;
}
.contact-container {
  background: #fffaee;
  padding: 40px 24px;
}

.contact-picture {
  max-width: 50%;
  object-fit: cover;
}

.overlay-img {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 394px;
  padding-left: 89px;
}

form.simple_form.contact {
  padding: 24px;
  inline-size: -webkit-fill-available;
}

.form-control {
  border-radius: 24px;
}


 #contact .card{
    flex-direction: row;
    border-radius: 8px;
    background-color: #e0ccaa;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

@media (max-width: 576px) {
  .contact-picture {
    object-fit: cover;
    max-width: fit-content;
  }
  #contact .card{
    flex-direction: column;
    object-fit: cover;
  }

}
