#contact{
  scroll-behavior: smooth;
  margin-top: 2rem;
}
.contact-container {
  background: #fffaee;
  padding: 40px 24px;
}

.contact-picture {
  max-width: 50%;
  object-fit: cover;
}

.form-control {
  border-radius: 24px;
}

 #contact .card{
    flex-direction: row;
    border-radius: 8px;
    background-color: #e6d4a9;
    box-shadow: 2px 2px 4px grey;
  }

@media only screen and (max-width: 768px) {
  .contact-picture {
    object-fit: cover;
    max-width: fit-content;
  }
  #contact .card{
    flex-direction: column;
    object-fit: cover;
  }

}
