.gallery .card{
  --bs-card-border-width: 0px;
  background-color: #fffeee;
  position: relative;
}

.gallery-container {
  max-width: 100%;
}

.gallery .row {
  --bs-gutter-x: 0.4rem;
  --bs-gutter-y: 0.4rem;
}

.gallery .card :hover {
  opacity: 30%;
  transition: ease-in-out 0.3s;
}


