.gallery .card{
  --bs-card-border-width: 0px;
  background-color: #ffe4a2;
  position: relative;
}

.gallery-container {
  max-width: 100%;
  padding-bottom: 5rem;
  scroll-behavior: smooth;
}

.gallery .row {
  --bs-gutter-x: 0rem;
}

.gallery .card :hover {
  opacity: 30%;
  transition: ease-in-out 0.3s;
}


