.reel {
  display: flex;
  justify-content: center;
  align-content: center;
  // object-fit: cover;
  text-align: center;
  scroll-behavior: smooth;
  padding-bottom: 75.25%; /* 16:9 */
  height: 0;
  // inline-size: -webkit-fill-available;
}

#player_html5_api {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


#reel .container {
  max-inline-size: -webkit-fill-available;
}
